.purpose__wrapper
  section(class="purpose")
    picture(class="purpose__picture")
      source(
        srcset="img/photos/asian-man-small-desktop.png"
        media="(min-width: 1000px) and (max-width:1599px)")
      img(
        class="purpose__img"
        src="img/photos/asian-man.jpg"
        alt="The photo of an asian man")
    .purpose__text
      h2(class="purpose__h2") The Backstage of the Wilderness World.
      p(class="purpose__p") The site was founded on the basis of a volunteer movement to protect and care for animals.
      h3(class="purpose__h3") How it works
      p(class="purpose__anotherP") The main goal is to help the animals, as well as the nature reserves and zoos where they are kept. We are currently working on video projects targeting pandas in China, eagles on an island near Los Angeles, alligators in Florida and gorillas in the Congo. These have a total of more than 1,500 mammals and reptiles.
