.testimonials__wrapper
  section(class="testimonials")
    h2 Testimonials
    ul(class="testimonials__list testimonials-list")

    input(
      class="testimonials__range"
      type="range"
      min="1"
      max="8"
      step="1"
      value="1")
    <br>
    button(class="testimonials__btn" type="button") Leave feedback
